@page{
   size: 11in 8.5in;
}

div.container{
  position: relative;
  width: 1209px;
  height: 695px;
  top:10px;
  left:5px;

}

div.descBox{
  width: 700px;
  height: 250px;
  position: absolute;
  text-align: center;
  right: 60px;
  top: 135px;

}

div.overBox{
  width: 725px;
  height: 40px;
  text-align: center;
  right: 20px;
  top:75px;
  position: absolute;
}

div.priceBox1{
  width: 500px;
  height: 400px;
  top: 300px;
  left: 630px;
  position: absolute;
  line-height: 400px;
}

div.unitpriceContainer{
  width: 169px;
	height: 94px;
	bottom:170px;
	left: 452px;
	position: relative;
}

div.topUnitPrice{
  text-align: center;
  position: absolute;
  height: 35px;
  width: 169px;
  top: 0px;
}

div.unitPrice{
  text-align: center;
	position: absolute;
	height: 35px;
	width: 169px;
	top: 30px;
}

div.unitMeasure{

	text-align: center;
	position: absolute;
	height: 35px;
	width: 169px;
	top: 60px;

}

